* {
	margin: 0;
	padding: 0;
}

.form_submitb{
    FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #FFFFFF; BORDER-TOP-STYLE: groove; FONT-STYLE: normal; FONT-FAMILY: verdana; BORDER-RIGHT-STYLE: ridge; BORDER-LEFT-STYLE: groove; BACKGROUND-COLOR: #AA2808; BORDER-BOTTOM-STYLE: ridge;
}

.form_tfield{
    FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; BORDER-TOP-STYLE: groove; FONT-STYLE: normal; FONT-FAMILY: verdana; BORDER-RIGHT-STYLE: ridge; BORDER-LEFT-STYLE: groove; BACKGROUND-COLOR: #FFFFFF; BORDER-BOTTOM-STYLE: ridge;
}
.tt td{
padding:4px;
padding-top:0px;
}
.tt a{
color:#FF0000;
}

body {
    background: #F0EABFurl(images/img01.gif);
    font-family: Arial;
    font-size: 12px;
    color: #333333;
}

#top_div{
	background-color: #009966;
	height:60px;
	font-size:24px;
	padding-top: 6px;
	padding-left: 200px;
	background-image: url(../images/top_bg.png);
	background-repeat: repeat-x;
}
#div_two{
	background-color:#00CC66;
	height:32px;
	padding-left: 190px;
}
#footer
{
border-top:3px #A79A81 solid;
background:#C6D5BF;
font-size:11px;
color:#666666
}
#budge
{
	position:absolute;
	width: 91px;
	height: 84px;
	left: 26px;
	vertical-align:top;
	background: url(../images/logo.png);
	top: -3px;
}
a
{
color: #CCFFFF
}
a:hover
{
color: #FF2525
}
#tb_container
{
height:450px;
}




/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////menu*/
.navbar
{
}  

.mainDiv
{
  width:185px;
}

.topItem
{
  font: bold 12px tahoma,verdana,sans-serif;
  letter-spacing: 0;
  background: url(../images/arrow-up-title.jpg) no-repeat 0 0;
  background-position:center center;
  background-repeat:no-repeat;
  border: none;
  width: 185px;
  height: 25px;
  color: bgcolor=#00CC66;
  cursor:pointer;
  text-indent:10px;
}

.topItemOver
{
  text-indent:10px;
  font: bold 12px tahoma,verdana,sans-serif;
  letter-spacing: 0;
  background: url(../images/arrow-up-title-on.jpg) no-repeat 0 0;
  background-position:center center;
  background-repeat:no-repeat;
  height: 25px;
  width: 185px;
  color: #428eff;
  cursor:pointer;
}

.topItemClose
{
  text-indent:10px;
  font: bold 12px tahoma,verdana,sans-serif;
  letter-spacing: 0;
  background: url(../images/arrow-down-title.jpg) no-repeat 0 0;
  background-position:center center;
  background-repeat:no-repeat;
  height: 25px;
  width: 185px;
  color: #215dc6;
  cursor:pointer;
}


.topItemCloseOver
{
  text-indent:10px;
  font: bold 12px tahoma,verdana,sans-serif;
  letter-spacing: 0;
  background: url(../images/arrow-down-title-on.jpg) no-repeat 0 0;
  background-position:center center;
  background-repeat:no-repeat;
  height: 25px;
  width: 185px;
  color: #428eff;
  cursor:pointer;
}



.dropMenu
{
  font: bold 11px tahoma,verdana,sans-serif;	
  background-color: bgcolor=#00CC66;
  color: #000;
  border: 1px solid #FFFFFF;
  border-width: 0 1px 1px 1px;
  filter:alpha(opacity=100);
  padding-top:5px;
  padding-bottom:5px;
}

.subMenu
{
   display:block;
}

.subItem
{
   margin-left:10px;
   margin-top:2px;
   height:18px;
   font: 11px tahoma,verdana,sans-serif;	
   text-decoration:none;
   color: #FFBC3E;
   
}

.subItem a
{
   margin-left:15px;
   font: 12px tahoma,verdana,sans-serif;	 	
   text-decoration:none;
   color: #FFFFFF;
}

.subItemOver
{
   margin-left:10px;
   margin-top:2px;
   font: 11px tahoma,verdana,sans-serif;	  
   height:18px;
   color: #428eff;
}

.subItemOver  a
{
   margin-left:15px;
   font: 12px tahoma,verdana,sans-serif;
   cursor:pointer;	
   color: #428eff;
   text-decoration:underline;
   cursor:pointer;
}


.drop
{
   border-left:1px solid black;
   border-right:1px solid black;	
}
